.main {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%;
}

.sticky-sidebar {
    padding: 8px 2px;
    background: #ffffff;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 10px 1px #00000040;
}

.sticky-sidebar * {
    display: block;
    margin: 8px;
}

.sticky-sidebar a,
.sticky-sidebar input,
.sticky-sidebar button {
    text-align: center;
    width: 3em;
    height: 3em;
}

.sticky-sidebar a .bi,
.sticky-sidebar button .bi {
    position: relative;
    top: -0.2em;
    font-size: 1.6em;

}

.modal-dialog {
    max-width: 1000px;
}

.modal-dialog textarea {
    height: 50vh;
    min-height: 200px;
    max-height: 1000px;
}

canvas[resize],
canvas#whiteboard {
    width: 100%;
}
